<div class="row">
        <div class="col-md-6">
            <h2>Categories</h2>
                <a class="chip" href="/">
                    <i>All</i>
                </a>
                {% for category in categories%}
            <!-- loop through all the images -->      
                <a class="chip" href="/?category={{category.id}}">
                    <i>{{category.name}}</i>
                </a>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h2>Locations</h2>
                <a class="chip" href="/">
                    
                </a>
                {% for location in locations%}
            <!-- loop through all the images -->      
                <a class="chip" href="/?location={{location.id}}">
                    <i>{{location.name}}</i>
                </a>
                
            {% endfor %}
        </div>
    </div>