<footer class=" btn-warning">

    <div class="container ">
      <div class="row">
        <div class="icon-bar col item social">
            <a href="#" class="facebook container"><i class="fa fa-facebook"></i></a>
            <a href="#" class="twitter container"><i class="fa fa-twitter"></i></a>
            <a href="#" class="google container"><i class="fa fa-google"></i></a>
            <a href="#" class="linkedin container"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="youtube container"><i class="fa fa-youtube"></i></a>
        </div>

      </div>
      <p class="copyright">Albunus Nyalita © 2021</p>
    </div>
  </footer>